debian
*.geany
.idea
*.log
*.zst
PKGBUILD
pkg
src
tlp
tlp-func-base
tlp-rdw
tlp-rdw-nm
tlp-rdw-udev
tlp-rdw.rules
tlp-readconfs
tlp-rf
tlp-run-on
tlp-stat
tlp-usb-udev
tlp.install
worktree*
*.zst
tlp.rules
tlp.service
tlp.upstart
