conf.py
debian
*.geany
.idea
*.log
*.zst
PKGBUILD
pkg
__pycache__/
*.py[cod]
research*
.ropeproject
src
tlp
tlp-func-base
tlp-rdw
tlp-rdw-nm
tlp-rdw-udev
tlp-rdw.rules
tlp-readconfs
tlp-rf
tlp-run-on
tlp-stat
tlp-usb-udev
tlp.install
worktree*
.zed
*.zst
tlp.rules
tlp.service
tlp.upstart
tlp-pd
tlp-pd.service
tlp.conf
tlpctl
